<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.jxau.dao.mapper.FunctionMapper">
  <resultMap id="BaseResultMap" type="cn.edu.jxau.common.entity.Function">
    <id column="function_id" jdbcType="BIGINT" property="functionId" />
    <result column="function_name" jdbcType="VARCHAR" property="functionName" />
    <result column="function_url" jdbcType="VARCHAR" property="functionUrl" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
  </resultMap>
  <sql id="Base_Column_List">
    function_id, function_name, function_url, gmt_create, gmt_modified
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from function
    where function_id = #{functionId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from function
    where function_id = #{functionId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.edu.jxau.common.entity.Function">
    insert into function (function_id, function_name, function_url, 
      gmt_create, gmt_modified)
    values (#{functionId,jdbcType=BIGINT}, #{functionName,jdbcType=VARCHAR}, #{functionUrl,jdbcType=VARCHAR}, 
      #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.jxau.common.entity.Function">
    insert into function
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="functionId != null">
        function_id,
      </if>
      <if test="functionName != null">
        function_name,
      </if>
      <if test="functionUrl != null">
        function_url,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="functionId != null">
        #{functionId,jdbcType=BIGINT},
      </if>
      <if test="functionName != null">
        #{functionName,jdbcType=VARCHAR},
      </if>
      <if test="functionUrl != null">
        #{functionUrl,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.jxau.common.entity.Function">
    update function
    <set>
      <if test="functionName != null">
        function_name = #{functionName,jdbcType=VARCHAR},
      </if>
      <if test="functionUrl != null">
        function_url = #{functionUrl,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where function_id = #{functionId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.jxau.common.entity.Function">
    update function
    set function_name = #{functionName,jdbcType=VARCHAR},
      function_url = #{functionUrl,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where function_id = #{functionId,jdbcType=BIGINT}
  </update>
</mapper>